* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-bar {
  max-width: 1140px;
  width: 100%;
  padding: 12px 80px;
  display: inline-block;
  margin: 0;
  margin-left: 390px;
  margin-right: 390px;
  font-family: 'Inter', sans-serif;
}

#logo{
  vertical-align: middle;
}

.list { 
  vertical-align: middle;
  margin-left: 150px;
}


ul , li  { 
  display: inline-block;
  padding: 8px 10px;
}

.list a {
  text-decoration: none;
  font-size: 18px;
  color: #323232;
}


.abt-color {
  color: #FF5DA3;
  font-weight: 600;
}

.cnt-btn {
  margin-left: 140px;
  background-color: #00AC25;
  padding: 8px 18px;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-bottom: 24px;
}

#container {
  width: 1316px;
  height: 174px;
  margin-top: 293px;
  margin-right: 302px;
  margin-bottom: 663px;
  margin-left: 302px;
}

.instructor-desc {
  color: #FF5DA3;
}

.para1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 24px;
}

.container2{
  text-align: center;
  font-family: 'Instrument Sans', sans-serif;
  margin-bottom: 24px;
}

.heading2 {
  font-size: 48px;
}

.para2 {
  font-size: 32px;
  padding: 40px 64px;
  text-align: center;
  color: #6941C6;
}

.btn-inst {
  border: none;
  padding: 14px 21px;
  background-color: #00AC25;
  color: #FFFFFF;
  border-radius: 6px;
}

.footer-nav {
  width: 1920px;
  height: 128px;
  background-color: #53389E;
  width: 100%;
  display: inline-block;
  margin: 0;
}

.logo2 {
  vertical-align: middle;
  display: inline-block;
  margin-left: 390px;
  margin-top: 36px;
}

h4 {
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  margin-top: 40px;
  font-family: 'Instrument Sans', sans-serif;
}

.list2 {
  margin-left: 200px;
  vertical-align: middle;
  font-family: 'Instrument Sans', sans-serif;
  display: inline-block;
}


.list2 li {
  color: #E9D7FE;
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
}

.list2 a {
  text-decoration: none;
  color: #E9D7FE;
}

.date {
  vertical-align: middle;
  display: inline-block;
  color: #D6BBFB;
  margin-left: 180px;
  margin-top: 36px;
}
